.popups__overlay {
  position: absolute;
  z-index: 30;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
}

.popup__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 60;
}


.popup__preteinsion {
  display: none;
}

.popup__inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.popup {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 73, 129, 0.1);
  border-radius: 10px;
  padding-bottom: 30px;
  width: 350px;
  z-index: 50;
  max-width: calc(100% - 30px);
  position: relative;
}

.popup__title {
  height: 61px;
  line-height: 63px;
  border-bottom: 1px solid #E4EFF4;
  padding-left: 20px;
  padding-right: 20px;
  color: #192229;
  font-size: 18px;
  position: relative;
}

.popup__close {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.popup__content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.popup__content__text {
  font-size: 14px;
  line-height: 24px;
  color: #192229;

  span {
    color: #3897F0;
  }
}

.popup__content__smalltext {
  font-size: 12px;
  line-height: 14px;
  color: #6A7B83;
}

.popup__content__img {
  width: 100%;
  border: 1px solid #D5DFE4;
}

.popup__content-preteinsion {
  .popup__content__text {
    line-height: 20px;
    margin-bottom: 12px;
  }
  .popup__content__smalltext {
    margin-top: 8px;
  }
}

.popup__preteinsion__part {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}


.popup__success {
  .popup__close {
    transform: translateY(0);
    top: 20px;
  }
}

.form--3 .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form--3__message {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

.button__success {
  width: 170px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #3897F0;
  border: none;
  padding: 10px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
  white-space: nowrap !important;
  word-wrap: normal !important;
  text-overflow: "-" !important;
  color: white;
  margin-top: 15px;
}

.form--3__button {
  width: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #D5DFE4;
  background-color: transparent;
  color: #192229;
}


@media screen and (max-width: 374px) {
  .popup__title {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .popup__content {
    margin-left: 15px;
    margin-right: 15px;
  }
  .popup__preteinsion .popup__content__text {
    font-size: 12px;
    line-height: 16px;
  }
}